@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Mode Colors */
  --color-primary: #4a7c59;
  --color-secondary: #f8f4e3;
  --color-accent: #e85d75;

  --color-background: #f9f9f7;
  --color-content: #333333;

  --font-primary: Playfair Display, serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-content);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #faf6f2;
}
