@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5e3a2b; /* Your Chocolate Brown */
  --color-secondary: #e8ddcb; /* Your Creamy Beige */
  --color-accent: #c93756; /* Your Raspberry Red */
  --color-background: #faf6f2; /* Your Linen */
  --color-content: #402e32; /* Your Dark Brown for text */

  /* dark colors */
  --color-dark-primary: #e8ddcb;
  --color-dark-secondary: #5e3a2b;
  --color-dark-background: #211815;
  --color-dark-content: #faf6f2;

  --font-primary: Playfair Display, serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-content);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #faf6f2;
}
